<h3>FORMULARIO</h3>
<div class="card">
    <div class="card-header">Filtrar productos</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <select-producto></select-producto>
                </div>
                <div class="col">
                    <select-categoria></select-categoria>
                </div>
                <div class="col">
                    <select-tienda></select-tienda>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <!--
            <div class="row">
                    <div class="col">
                        {{producto.selected}}
                    </div>
                    <div class="col">
                        {{categoria.selected}}
                    </div>
                    <div class="col">
                            {{tienda.selected}}
                    </div>
            </div>
            -->
        </div>
</div>

