
<h3>FORMULARIO</h3>
<div class="card">
    <div class="card-header">
        Filtrar productos
        <button (click)="allItems()" class="btn btn-primary float-right btn-sm">
                <i class="material-icons">autorenew</i>
        </button>
    </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <select-producto [title]="'Productos'"></select-producto>
                </div>
                <div class="col">
                    <select-categoria [title]="'Categorias'"></select-categoria>
                </div>
                <div class="col">
                    <select-tienda [title]="'Tiendas'"></select-tienda>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                    <div class="col">
                        {{(product$ | async)?.value}}
                    </div>
                    <div class="col">
                        {{(category$ | async)?.value}}
                    </div>
                    <div class="col">
                        {{(store$ | async)?.value}}
                    </div>
            </div>
        </div>
</div>

