<h3>FORMULARIO</h3>
<div class="card">
    <div class="card-header">Filtrar productos</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <select-producto [title]="'Productos'"></select-producto>
                </div>
                <div class="col">
                    <select-categoria [title]="'Categorias'"></select-categoria>
                </div>
                <div class="col">
                    <select-tienda [title]="'Tiendas'"></select-tienda>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                    <div class="col">
                        {{(product$ | async)?.value}}
                    </div>
                    <div class="col">
                        {{category$ | async}}
                    </div>
                    <div class="col">
                        {{store$ | async}}
                    </div>
            </div>
        </div>
</div>

